/*
  ========================================
  Style for places
  ========================================
*/

h1
{
	text-align: left;
	font-size: 30px;
}

section.places
{
	z-index: 1;
	position: relative;
	top: 30px;
	left: 0px;
	padding: 5px;
	max-width: 1000px;
	height: 200px;
	background-color: #cccccc;
}
